:root {
  --first-color: #222831;
  --second-color: #a3f7bf;
  --white-color: #EDEDED;
}

:root {
  --body-font: 'Source Sans Pro', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: white;
  font-weight: 200;
  overflow-x: hidden;
  /* Hide scrollbars */
  position: relative;
  margin: 0;
  padding: 0 0 0 7rem;
  font-family: var(--body-font);
  background-color: #393e46;
  -webkit-transition: .5s;
  transition: .5s;
}

p {
  margin-top: 16px;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

td {
  padding: 7% 0.75rem 7% 0.75rem !important
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--second-color);
}


/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 96px;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem 1.5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav__custom {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

/*Show menu*/
.show {
  width: 195px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}

/*===== Profile Picture =====*/
.welcome-container {
  height: 90vh;
  width: 90vw;
  text-align: center;
  padding-top: 6%;
}

.welcome {
  margin-left: -35%;
  top: 25%;
  position: relative;
}

.welcome h2 {
  font-size: 55px;
}

.welcome_desc {
  margin-bottom: 2rem;
}

.profile_pic {
  width: 35%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
  position: relative;
  left: 55%;
  top: -10%;
  z-index: -1;
}


/*===== PROJECTS =====*/
.project_pic {
  height: 50vh;
}

.project_pic:hover .overlay {
  height: 100%;
}

.project_pic:hover .project_title {
  visibility: hidden;
}

.project_title {
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 10px;
  opacity: 0.6;
  /* text-decoration: underline; */
}

.project_description {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  opacity: 0.6;
}


/*===== EXPERIENCE TIMELINE =====*/
.icon {
  width: 50px;
}

.MuiTimelineDot-root {
  padding: 0 !important;
}

.MuiTimelineConnector-root {
  min-height: 100px !important;
  width: 3px !important;
}

.MuiTypography-colorTextSecondary {
  color: white !important;
}

.MuiTimeline-root {
  padding: 3% 10% !important;
}

@media (max-width: 1260px) {
  .welcome h2 {
    font-size: 50px;
  }
}

@media (max-width: 960px) {
  .welcome h2 {
    font-size: 40px;
  }
  .welcome {
    margin-left: -12%;
    top: 15%;
  }
}


@media (max-width: 650px) {
  .MuiTimeline-root {
    padding: 3% 3% !important;
  }
  .welcome h2 {
    font-size: 30px;
  }
  .profile_pic {
    left: 12%;
    width: 63%;
    top: 30%;
  }
}


/*===== SKILLS =====*/
.bar-indicator {
  margin: 0 25% 0 18%;
  align-items: center;
  padding: 0 10% 1%;
}

.skills-container {
  padding: 2.5% 10%;
  text-align: center;
}

.skills-title {
  margin-bottom: 5%;
  font-size: 200%;
}

.bg-success {
  width: 100%;
  padding: 0 10%;
}

.skill-box {
  width: 20%;
}

.skill-name {
  font-size: 145%;
  width: 12rem;
  color: var(--white-color);
}

.progress {
  width: 100%;
  background-color: #efd9d1;
}

.progress-bar {
  background-color: var(--second-color);
}
